/* Coolors Exported Palette - coolors.co/1c3030-aa9e96-485b5b-d9c1b0-2b6181 */

/* HSL */
$color1: hsla(180%, 26%, 15%, 1);
$color2: hsla(24%, 11%, 63%, 1);
$color3: hsla(180%, 12%, 32%, 1);
$color4: hsla(25%, 35%, 77%, 1);
$color5: hsla(202%, 50%, 34%, 1);

/* RGB */
$color1: rgba(28, 48, 48, 1);
$color2: rgba(170, 158, 150, 1);
$color3: rgba(72, 91, 91, 1);
$color4: rgba(217, 193, 176, 1);
$color5: rgba(43, 97, 129, 1);