/* Coolors Exported Palette - coolors.co/1c3030-aa9e96-485b5b-d9c1b0-2b6181 */
/* HSL */
/* RGB */
/* Enkel CSS-reset */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans|PT+Sans");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
*/
body .container {
  width: 1280px;
  height: 800px;
  background-image: url("../bilder/bild.jpg");
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Favo css */
  /* Skapa css */
  /* Logga css */
}

body .container header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px 15px 15px;
}

body .container header h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
  color: #d9c1b0;
}

body .container header nav {
  height: 63px;
  border: 1px solid white;
  border-radius: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container header nav a {
  text-decoration: none;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  padding: 5px;
}

body .container header nav a.aktiv {
  font-size: 30px;
}

body .container main.hem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin: 50px;
  /* Hem css */
}

body .container main.hem .drop .dropdown {
  position: relative;
  display: inline-block;
}

body .container main.hem .drop .dropbtn {
  background-color: #1c3030;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 130px;
}

body .container main.hem .drop .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

body .container main.hem .drop .dropdown-content a {
  color: #2b6181;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

body .container main.hem .drop .dropdown-content a:hover {
  background-color: #d9c1b0;
}

body .container main.hem .drop .dropdown:hover .dropdown-content {
  display: block;
}

body .container main.hem .drop .dropdown:hover .dropbtn {
  background-color: #d9c1b0;
}

body .container main.favoMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin: 50px;
}

body .container main.favoMain li {
  color: #d9c1b0;
  list-style-type: none;
  font-size: 20px;
}

body .container main.favoMain form {
  margin: 100px auto;
  width: 300px;
  text-align: center;
}

body .container main.favoMain form button {
  margin-top: 10px;
  border-radius: 5px;
  width: 100px;
  font-family: 'Noto Sans', sans-serif;
  background-color: #1c3030;
  color: #d9c1b0;
}

body .container main.favoMain form input {
  margin-top: 30px;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  padding: 10px;
  border: 1px solid #1c3030;
  border-radius: 10px;
  width: 100%;
}

body .container main.registrera form {
  margin: 100px auto;
  width: 300px;
  text-align: center;
}

body .container main.registrera form button {
  margin-top: 10px;
  border-radius: 5px;
  width: 100px;
  font-family: 'Noto Sans', sans-serif;
  background-color: #1c3030;
  color: #d9c1b0;
}

body .container main.registrera form input {
  margin-top: 30px;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  padding: 10px;
  border: 1px solid #1c3030;
  border-radius: 10px;
  width: 100%;
}

body .container main.registrera .bluebox {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #485b5b;
  width: 200px;
  margin: auto;
  border-radius: 10px;
}

body .container main.loggaIn form {
  margin: 100px auto;
  width: 300px;
  text-align: center;
}

body .container main.loggaIn form button {
  margin-top: 10px;
  border-radius: 5px;
  width: 100px;
  font-family: 'Noto Sans', sans-serif;
  background-color: #1c3030;
  color: #d9c1b0;
}

body .container main.loggaIn form input {
  margin-top: 30px;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  padding: 10px;
  border: 1px solid #1c3030;
  border-radius: 10px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */